{% set feed = hookable_metadata.context.resource %}

<div class="card mb-3">
    <div class="card-body">
        <div class="divide-y">
            <div class="row">
                <div class="col-12 col-md-4 fw-bold">{{ 'setono_sylius_feed.ui.feed'|trans }}</div>
                <div class="col-12 col-md-8" {{ sylius_test_html_attribute('feed-name') }}>{{ feed.name }}</div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4 fw-bold">{{ 'setono_sylius_feed.ui.feed_type'|trans }}</div>
                <div class="col-12 col-md-8" {{ sylius_test_html_attribute('feed-type') }}>{{ feed.feedType }}</div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4 fw-bold">{{ 'setono_sylius_feed.ui.state'|trans }}</div>
                <div class="col-12 col-md-8" {{ sylius_test_html_attribute('feed-state') }}>{{ ('setono_sylius_feed.ui.' ~ feed.state)|trans }}</div>
            </div>
        </div>
    </div>
</div>
